<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/mechanichome">Home</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/viewtask">View Tasks</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/mechcompletedtask">Completed Tasks</a>
        </li>
    </ul>
    <button class="float-right btn btn-light" (click)="logout()">LogOut</button>
  </nav>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container register">
    <div class="row justify-content-md-center">
        <div class="col col-12">
            <div class="jumbotron" *ngFor="let data of mydata">
                <h1 class="display-4">Welcome, {{data.uname}}!!</h1>
                <p class="lead">As a mechanic you duty will be to work on assigned vehicles. Update the status once done!!</p>
                <hr class="my-4">
                <p>View Tasks - Details of assigned vehicles are available here.<br>Completed Tasks - Completed Vehicle details available here.</p>
            </div>
        </div>
    </div>
</div>