<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/staffhome">Home</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/newjobcard">New JobCard</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/updatejobcard">Search Vehicle</a>
          </li>
    </ul>
    <button class="float-right btn btn-light" (click)="logout()">LogOut</button>
  </nav>

<form (ngSubmit)=onSubmit(f) #f="ngForm">
  <table class="table">
    <tr><td><input type="text" name="cregno" class="form-control" placeholder="Enter Car Registration No" ngModel></td><td><input type="submit" class="btn btn-primary" value="Search"></td></tr>
  </table>
</form>

<div *ngIf="!status else yesdata"></div>

<ng-template #yesdata>
  <table class="table">
      <div *ngFor="let data of mydata">
        <!-- <tr><td></td><td><input type="hidden" name="cid" [(ngModel)]="data._id"></td></tr> -->
        <tr><td></td><td><h5>Update Car Details</h5></td></tr>
        <tr><td>Registration No:</td><td><input type="text" class="form-control" name="cregno" [(ngModel)]="data.cregno" disabled></td></tr>
        <tr><td>Car Model:</td><td><input type="text" class="form-control" name="cmodel" [(ngModel)]="data.cmodel" disabled></td></tr>
        <tr><td>Chassis No:</td><td><input type="text" class="form-control" name="ccno" [(ngModel)]="data.ccno" disabled></td></tr>
        <tr><td>Owner Name:</td><td><input type="text" class="form-control" name="coname" [(ngModel)]="data.coname"></td></tr>
        <tr><td>Email:</td><td><input type="email" class="form-control" name="coemail" [(ngModel)]="data.coemail"></td></tr>
        <tr><td>Mobile:</td><td><input type="text" class="form-control" name="comobile" [(ngModel)]="data.comobile"></td></tr>
        <tr><td><input type="button" class="btn btn-danger" value="Delete"></td><td><input type="button" class="btn btn-primary" value="Update"></td></tr>
      </div>
  </table>
</ng-template>